<ion-header>
  <ion-toolbar>
    <ion-title>Event</ion-title>
    <ion-button  [routerLink]="['/accueil']" ><ion-icon name="chevron-back-outline"></ion-icon>Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="event-details-img"></div>
  <div class="card-details">
    <div class="card-header">
      <div>{{details[0].name}}</div>
    </div>
    <div>
      <div  style="display: flex;
      flex-direction: column;">
        <ion-label>{{details[0].description}}</ion-label><br>
        <ion-label> {{details[0].date_start}} </ion-label><br>

        <div style="justify-content: center;">
          <ion-label>Nombre de places restantes: {{details[0].max_participant}}</ion-label><br>
          <ion-label>minimum age: {{details[0].age_min}}</ion-label><br>
          <ion-label *ngIf="details[0].price > 0"> {{details[0].price}} eth</ion-label><br>
          <ion-label *ngIf="details[0].price == 0">gratuit</ion-label><br>
        </div>
      </div>
      <div >
        <ion-buttons style="display: flex;justify-content: center;margin-bottom: 5%;">
          <ion-button (click)="remove()"><ion-icon name="remove-circle"></ion-icon></ion-button>
          <span>{{ticket_qty}}</span>
          <ion-button (click)="add()"><ion-icon name="add-circle"></ion-icon></ion-button>
        </ion-buttons><br>

        <ion-label class="box">Total: {{totalVal}} eth</ion-label><br>

      </div>
    </div>
   
   
    <ion-button *ngIf="free" color="primary" (click)="participateFree(details[0])">Purchase for free</ion-button>
    <ion-button  *ngIf="!free" (click)="sendTr(details[0].wallet)">Purchase</ion-button>
  </div> -->
</ion-content>
