<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="myForm">
      
    <ion-item >
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

   <ion-item >
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" [(ngModel)]="user.surname" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label >Birthdate</ion-label>
      <ion-input type="date" [(ngModel)]="user.birth_date" [ngModelOptions]="{standalone: true}"required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Gender</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}"required>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="nod">Gender no defind</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName ="email" placeholder="Email" type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required></ion-input>
      <div class="show-error"> 
        <div *ngIf="myForm.get('email').hasError('required') && myForm.get('email').dirty ">
          <!--myForm.get('email').touched <span>{{}}</span> -->
          Email is not empty please enter an address 
        </div>
    </div>
    </ion-item>
   

    <ion-item >
      <ion-label position="floating">Phone number</ion-label>
      <ion-input  placeholder="0769660543"type="phone_number" [(ngModel)]="user.phone_number" [ngModelOptions]="{standalone: true}"required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Password</ion-label>
      <div style="display: flex;flex-direction: row;">
        <ion-input placeholder="Password" [type]="showPassword ? 'text' : 'password' " [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required></ion-input>
        <ion-icon [name]="passwordToggleIcon" (click)="togglePassword()" > </ion-icon>
      </div>
    </ion-item>
   
    <ion-item >
      <ion-label position="floating">Verify your password</ion-label>
      <div style="display: flex;flex-direction: row;">
        <ion-input placeholder="Password" [type]="showPassword ? 'text' : 'password' "  required></ion-input>
        <ion-icon [name]="passwordToggleIcon" (click)="togglePassword()"  > </ion-icon>
      </div>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="register(email,password)" color="primary" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>

