<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Edition</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <div class="container">
    <div class="outer" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
        <div class="inner" (click)="showActionSheet()">
           <ion-icon name="pencil" class="modif-icon"></ion-icon>
        </div> 
      
     </div>
  </div>

  <ion-footer class="container">
    <h3 class="title">Profile pic</h3>

    <ion-grid class="ion-padding-top">
      <ion-row>
         
        <!-- <ion-row>
          <ion-col size="6" *ngFor="let photo of apiService.photos; index as position">
            <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
          </ion-col>
        </ion-row>  -->

        <ion-fab size="3"  class="ion-text-center"  (click)="showActionSheet()"vertical="bottom"  >
         <ion-fab-button >
           <ion-icon name="camera" class="icon" ></ion-icon>
          </ion-fab-button> 
        </ion-fab> 
       
       
       </ion-row>
    </ion-grid>
  </ion-footer>

  <form>

    <ion-item >
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text"  [(ngModel)]="user.surname" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Pseudo</ion-label>
      <ion-input type="text" [(ngModel)]="user.pseudo" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Birthdate</ion-label>
      <ion-input type="date" [(ngModel)]="user.birth_date" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Gender</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}" required>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="nod" >Gender no defind</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"  placeholder="Email" type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating"></ion-label>
      <ion-input type="phone_number" [(ngModel)]="user.phone_number" [ngModelOptions]="{standalone: true}" required>Phone number</ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating"></ion-label>
      <ion-input type="text" required>Addresse</ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating"></ion-label>
      <ion-input type="text" [(ngModel)]="user.wallet" [ngModelOptions]="{standalone: true}" required>Wallet</ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
   
    <ion-item >
      <ion-label position="floating">Verify your old password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
  
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click))="editProfil()">Edit</ion-button>
      </ion-col>
    </ion-row>
  </form>
  
</ion-content>



