ion-content{
    --background: url(..\..\253357-iphone-wallpaper-blue-purple-violet-aqua-turquoise-green.jpg) no-repeat center center /cover ;
}

 ::ng-deep .input .item-interactive .item-input .item .ios .ion-focusable .hydrated .item-label .item-label-floating ion-item:last-of-type{
    --background: rgba(255, 255, 255, 0.493) !important;
    background-color: aqua;
}

form{
    position: absolute;  
    top: 45%;
    left: 2px;
    right: 2px;
    color: whitesmoke;
}