<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item >
      <ion-label position="floating"><ion-icon name="mail-outline"></ion-icon>Email</ion-label>
      <ion-input placeholder="Email" type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon>Password</ion-label>
      <app-show-hide-password >
        <ion-input placeholder="Password" [type]="showPassword ? 'text' : 'password' " [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()" ></ion-icon>
      </app-show-hide-password>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click)="signIn(email, password)">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </ion-col>
      <ion-col>
        <ion-button (click)="getUser()">
          get user
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>