<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Event 
    </ion-title>
    <ion-button  (click) = "connectWallet()">connect wallet</ion-button>
    <ion-button  (click) = "sendTr()">send transaction</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar >
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <app-explore-container name="Tab 2 page"></app-explore-container>
  <ion-searchbar [(ngModel)]="searchText" showCancelButton="always"></ion-searchbar> 
  <ion-card *ngIf="clicked">
    <ion-icon (click)="return()" name="arrow"></ion-icon>
    <ion-title>{{details[0].nom}}</ion-title>
  </ion-card>
  <ion-list *ngIf="!clicked">

    <ion-item-sliding *ngFor="let item of events | filter : searchText">
      <ion-item (click) = "viewMore(item.id)">
        <ion-label>{{item.nom}}</ion-label>
        <ion-label >starting: {{item.date_debut}}</ion-label>
        <ion-label  *ngIf="item.payant==1">payant</ion-label>
        <ion-icon name="add"></ion-icon>
      </ion-item>
   
    </ion-item-sliding>
  </ion-list>
</ion-content>
