ion-icon {
    font-size: 180%;
    margin-top: 5px;
    margin-left: 5px;
}

ion-label{
    margin-left: 10px;
}

ion-card-title{
    margin-left: 10px;
    text-align: center;
}

ion-item{
    height: 80px;
}

ion-list{
    margin-top: 20px;
}

ion-button{
  //  margin-left: 10px;
}

::ng-deep .connect-wallet .header-ios ion-toolbar:last-of-type{
    --border-width: 0 !important;
}