<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Event Creation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-button *ngIf="!isAddingMode"  (click)="isAddingModeHandler()">add </ion-button>


<ion-row *ngIf="isAddingMode">
  <ion-col>
    <ion-input placeholder="Event Name"></ion-input>
    <ion-datetime placeholder="Starting ">  </ion-datetime>
    <ion-datetime placeholder="Finising ">  </ion-datetime>
  </ion-col>
</ion-row>


</ion-content>
