ion-content .logo{
    --background: url(..\..\logo.png) no-repeat;
    margin-left: 140px;
    margin-top: 350px;
    height: 400px;
}

ion-content {
    --background: url(..\..\253357-iphone-wallpaper-blue-purple-violet-aqua-turquoise-green.jpg) no-repeat center center /cover ;  
}

ion-row .logo {
    width: 100px;
    height: 400px;
}

h1{
    font-size: 38px;
    margin-left: 150px;
    height: 30px;
}