ion-content{
    --background: url(..\..\253357-iphone-wallpaper-blue-purple-violet-aqua-turquoise-green.jpg) no-repeat center center /cover ;
}

ion-grid{
    font-size: 38px;
    position: relative ;  
    top: 45%;
    left: 45%;
    color: whitesmoke;
}