<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Event Creation
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    <ion-button [routerLink]="['/profile']" color="primary">
      <ion-icon name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-row *ngIf="!isViewingMode">
  <ion-col  >
    <ion-item>

      <ion-fab size="3"  class="ion-text-center"  (click)="changeImg()" vertical="bottom"  >
       <ion-fab-button  >
         <ion-icon name="camera" class="icon" ></ion-icon>
        </ion-fab-button> 
      </ion-fab> 
     
    </ion-item>
    <ion-item>
      <ion-label>Event Name:</ion-label>
      <ion-input type="text " [(ngModel)]="event.name"  placeholder="Projet Shuffle"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Event Location:</ion-label>
        <ion-input type="text " [(ngModel)]="event.location"  placeholder="666 chemin du Rorota"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description:</ion-label>
      <ion-input class="ion-margin-left" [(ngModel)]="event.description"  placeholder="...."></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Start Date:</ion-label>
      <ion-datetime  [(ngModel)]="event.date_start" max="2050-12-09" value="2022-09-02">  </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Start Time:</ion-label>
      <ion-datetime  [(ngModel)]="event.time_start" placeholder="04:20 AM" displayFormat="HH:mm" pickerFormat="HH:mm" ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Ends:</ion-label>
      <ion-datetime  [(ngModel)]="event.date_end" placeholder="04/21/2000 " pickerFormat="YYYY-MM-DD">  </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Expected number of participants:</ion-label>
      <ion-input [(ngModel)]="event.max_participant"  placeholder="Expected participant"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Age minimum:</ion-label>
      <ion-input  [(ngModel)]="event.age_min" placeholder="18"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Private:</ion-label>
      <ion-checkbox  [(ngModel)]="public" checked="false">Private </ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>For free:</ion-label>
      <ion-checkbox    (click)="isPayingModeHandler()" [(ngModel)]="free" checked="false">free </ion-checkbox>
    </ion-item>

    <ion-item *ngIf="isPayingMode">
      <ion-label>Price:</ion-label>
      <ion-input  [(ngModel)]="event.price"  placeholder="0 eth"></ion-input>
      <ion-label>Wallet:</ion-label>
      <ion-input  [(ngModel)]="event.wallet"  placeholder="00x"></ion-input>
    </ion-item>

    <ion-button block (click)="addEvent()" >Confirm</ion-button>
  </ion-col>
</ion-row>


</ion-content>