<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Event Creation
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/profile']" color="primary">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="outer">
      <ion-grid>
        <ion-row>
            <ion-img *ngIf="pic.photoLoaded" [src]="pic.photos[0]"></ion-img>
        </ion-row>
      </ion-grid>
      <ion-fab (click)="showActionSheet() " class="ion-text-center">
        <ion-fab-button>
          <ion-icon name="camera" class="icon"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>

    <div>
      <div>
        <ion-item>
          <ion-label position="floating">Event Name:</ion-label>
          <ion-input [(ngModel)]="event.name" type="text" placeholder="Projet Shuffle"></ion-input>
          <div class="show-error">
            <div>
              *Event name is required !
            </div>
            <div>
              *Event name must be compose at least 3 characters !
            </div>
            <div>
              *Event name must be compose at maximum 25 characters !
            </div>
          </div>
        </ion-item>

        <div>Addresse</div>

        <ion-item>
          <ion-label position="floating">Number</ion-label>
          <ion-input [(ngModel)]="event.number" type="text "></ion-input>
          <div class="show-error">
            <div>
              *Number is required !
            </div>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Street</ion-label>
          <ion-input [(ngModel)]="event.street" type="text "></ion-input>
          <div class="show-error">
            <div>
              *Street is required !
            </div>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Postal code</ion-label>
          <ion-input [(ngModel)]="event.postal" type="text "></ion-input>
          <div class="show-error">
            <div>
              *Postal is required !
            </div>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">City</ion-label>
          <ion-input [(ngModel)]="event.city" type="text"></ion-input>
          <div class="show-error">
            <div>
              *City is required !
            </div>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Country</ion-label>
          <ion-input [(ngModel)]="event.country" type="text " placeholder="666 chemin du Rorota"></ion-input>
          <div class="show-error">
            <div>
              *Country is required !
            </div>
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input [(ngModel)]="event.description" type="text" class="ion-margin-left" placeholder="...."></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Start Date</ion-label>
          <ion-input [(ngModel)]="event.date_start" type="date"  placeholder="04/21/2000 " pickerFormat="YYYY-MM-DD">
          </ion-input>
          <div class="show-error">
            <div>
              *Event start date is required !
            </div>
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Start Time</ion-label>
          <ion-input [(ngModel)]="event.time_start" type="time" placeholder="04:20 AM" displayFormat="HH:mm"
            pickerFormat="HH:mm"></ion-input>
          <div class="show-error">
            <div>
              *Event start time is required !
            </div>
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">End Date</ion-label>
          <ion-input [(ngModel)]="event.date_end" type="date" placeholder="04/21/2000 " pickerFormat="YYYY-MM-DD">
          </ion-input>
          <div class="show-error">
            <div>
              *Event end date is required !
            </div>
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">End at</ion-label>
          <ion-input [(ngModel)]="event.time_end" type="time" placeholder="04:20 AM" displayFormat="HH:mm"
            pickerFormat="HH:mm"></ion-input>
          <div class="show-error">
            <div>
              *Event end time is required !
            </div>
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Expected number of participants</ion-label>
          <ion-input [(ngModel)]="event.max_participant" type="number" placeholder="Expected participant"></ion-input>
          <div class="show-error">
            <div>
              *Event expected number of participants is required !
            </div>
          </div>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Age minimum</ion-label>
          <ion-input [(ngModel)]="event.age_min" type="number" placeholder="18"></ion-input>
          <div class="show-error">
            <div>
              *Age minimum to join the event is required !
            </div>
            <div>
              *Valid pattern is riquired!
            </div>
          </div>
        </ion-item>
      </div>
      
      <ion-item *ngFor="let category of categories">
        <ion-label>{{category}}</ion-label>
        <ion-checkbox  checked="false"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Private </ion-label>
        <div class="show-error">
          <!-- <div         *Privacy of your event is required 
          </div> -->
        </div>
        <ion-checkbox checked="false" [(ngModel)]="public">Private </ion-checkbox>
      </ion-item>

      <ion-item style="display: flex;flex-direction: column;">
        <ion-label>For free</ion-label>
        <!-- <div class="show-error">
          <div *ngIf="myForm.get('free').hasError('required') && submitted ">
            *The cost of your event is required !
          </div>
        </div> -->
        <ion-checkbox slot="end" [(ngModel)]="free" (click)="isPayingModeHandler()" checked="true">free
        </ion-checkbox>
      </ion-item>

      <ion-item *ngIf="isPayingMode">
        <div>
          <ion-label>Price:</ion-label>
          <ion-input placeholder="0 eth"></ion-input>
          <div class="show-error">
            <div>
              *Your event ticket price is required !
            </div>
            <!-- <div *ngIf="myForm.get('event.price').hasError('pattern') && submitted ">
              *Your wallet address required valid patterns !
            </div> -->
          </div>
          <ion-label>Wallet:</ion-label>
          <ion-input placeholder="00x"></ion-input>
          <div class="show-error">
            <div >
              *Your wallet address is required !
            </div>
            <!-- <div 
              *Your wallet address required valid patterns !
            </div> -->
          </div>
        </div>
      </ion-item>
      <ion-button color="primary" expand="block" (click)="validForm()">Confirm</ion-button>
    </div>



</ion-content>