<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/profile']">Back</ion-back-button>
    </ion-buttons>
    <ion-title>Profile Edition</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="outer" >
        <div style="width: 100px; height: 100px;">
            <ion-avatar>
            <ion-img *ngIf="photoLoaded" [src]="photoUrl"></ion-img>
          </ion-avatar>
        </div>
      <div >
        <ion-fab  (click)="showActionSheet()"vertical="bottom"  >
          <ion-fab-button>
            <ion-icon name="pencil" class="icon" ></ion-icon>
          </ion-fab-button> 
        </ion-fab>   
      </div> 
    </div>
  </div>

  <form>
    <ion-item >
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    
   <ion-item >
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" [(ngModel)]="user.surname" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Birthdate</ion-label>
      <ion-input type="date" [(ngModel)]="user.birth_date" [ngModelOptions]="{standalone: true}" placeholder="04/21/2000 "  required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Phone number</ion-label>
      <ion-input type="phone_number" [(ngModel)]="user.phone_number" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Wallet</ion-label>
      <ion-input type="text" [(ngModel)]="user.wallet" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click)="editProfil()">Edit</ion-button>
      </ion-col>
    </ion-row>
  </form> 
  
</ion-content>



