
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/profile']">Back</ion-back-button>
    </ion-buttons>
    <ion-title>Profile Edition</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
  <div class="container">
    
    <div class="outer" >
      <ion-grid>
        <ion-row>wesh
          <ion-col size="6" *ngFor="let photo of pic.photos; index as position">
            <ion-img [src]="photo.webviewPath"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- [ngStyle]="{'background-image': 'url(' + photo.webviewPath + ')'}" -->
      <div >
        <!-- <ion-fab class="ion-text-center" vertical="bottom"  > -->

        <ion-fab class="ion-text-center" (click)="showActionSheet()"vertical="bottom"  >
          <ion-fab-button>
            <ion-icon name="pencil" class="icon" ></ion-icon>
          </ion-fab-button> 
        </ion-fab>   
      </div> 
    </div>
  </div>

  <form>
    <ion-item >
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" [(ngModel)]="user[0].name" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    
   <ion-item >
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" [(ngModel)]="user[0].surname" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <!-- <ion-item >
      <ion-label position="floating">Pseudo</ion-label>
      <ion-input type="text"  required></ion-input>
    </ion-item> -->
    <ion-item >
      <ion-label position="floating">Birthdate</ion-label>
      <ion-input type="date" [(ngModel)]="user[0].birth_date" [ngModelOptions]="{standalone: true}" placeholder="04/21/2000 "  required></ion-input>
    </ion-item>
    <!-- <ion-item >
      <ion-label position="floating">Email</ion-label>
      <ion-input  placeholder="Email" type="text" [(ngModel)]="firebaseuser[0].email" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item> -->
    <ion-item >
      <ion-label position="floating">Phone number</ion-label>
      <ion-input type="phone_number" [(ngModel)]="user[0].phone_number" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Addresse</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Wallet</ion-label>
      <ion-input type="text" [(ngModel)]="user[0].wallet" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
   
    <ion-item >
      <ion-label position="floating">Verify your old password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
  
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click)="editProfil()">Edit</ion-button>
      </ion-col>
    </ion-row>
  </form> 
  
</ion-content>



