ion-slides{
    max-width: max-content;
}

ion-slide ion-card{
    width: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.eventImg{
    background: url(..\..\event.jpg) 0 0/100% 100% no-repeat;
    width: 50xp;
    height: 200px;
}


