ion-content{
    --background: url(..\..\253357-iphone-wallpaper-blue-purple-violet-aqua-turquoise-green.jpg) no-repeat center center /cover ;
}

form{
    position: absolute;  
    top: 45%;
    left: 2px;
    right: 2px;
    color: whitesmoke;
    
}