<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item >
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click)="forgot()">Send</ion-button>
      </ion-col>
    </ion-row>
    <small>
      Please provide the username or email address to recover your Shuffle password acccount connection.
    </small>
  </form>
</ion-content>