ion-icon {
    font-size: 180%;
    margin-top: 5px;
    margin-left: 5px;
}

ion-card .event-details {

}

.background{
    --background: url(..\..\253357-iphone-wallpaper-blue-purple-violet-aqua-turquoise-green.jpg) 0 0/100% 100% no-repeat;
}

ion-label{
    margin-left: 10px;
}

ion-card-title{
    margin-left: 10px;
    text-align: center;
}

ion-card{
    height: 229px;
    border-radius: 31.5025px;
    display: flex;
    flex-direction: row;
}

.event-img{
    background: url(https://i.pravatar.cc/150) 0 0/100% 100% no-repeat;
    margin-top: 20px;
    margin-left: 20px;
    width: 170px;
    height: 180px;
    border-radius: 31.5px;
}

ion-card-content{
    width: 150px;
}

::ng-deep .header-ios ion-toolbar:last-of-type{
    --border-width: 0 !important;
}


::ng-deep ion-list:last-of-type{
    background: none !important;
}

::ng-deep ion-card:last-of-type{
    opacity: 0.99;
}
