<ion-header style="display: flex;flex-direction: row;" collapse="condense">
  <ion-toolbar>
    <ion-button [routerLink]="['/createEvent']" *ngIf="!clicked">add Event
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/profile']" *ngIf="!clicked">
      <ion-icon name="person-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
  <div onload="initMap()">
    <div id="map"></div>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDsKLsdyt2BQEVvM1GPizGxJup4PkrlO4&callback=initMap&libraries=v=weekly"
      >
    </script>
  </div>
 
  <app-explore-container name="Tab 2 page"></app-explore-container>
  <ion-content *ngIf="clicked" class="event-details">
    <div class="event-img"></div>
    <ion-card class="card-details">
      <ion-card-header>
        <ion-icon (click)="return()" name="arrow-back"></ion-icon>
        <ion-card-title>{{details[0].name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>description:{{details[0].description}}</ion-label>
        <ion-label>start: {{details[0].time_start}} </ion-label>
        <ion-label>maximum particpants: {{details[0].max_participant}}</ion-label>
        <ion-label>minimum age: {{details[0].age_min}}</ion-label>
        <ion-label>price: {{details[0].price}} eth</ion-label>
      </ion-card-content>
      <div>
        <ion-butttons>
          <ion-button (click)="remove()"><ion-icon name="remove"></ion-icon></ion-button>
          <input type="text" [(ngModel)]="ticketQuantity">
          <ion-button (click)="add()"><ion-icon name="add"></ion-icon></ion-button>
        </ion-butttons>
      </div>
      <ion-button *ngIf="free" color="primary" (click)="participateFree()">Purchase for free</ion-button>
      <ion-button *ngIf="!free" (click)="sendTr(details[0].wallet)">Purchase</ion-button>
    </ion-card>
  </ion-content>
 
  <ion-searchbar *ngIf="!clicked" [(ngModel)]="searchText"></ion-searchbar>
  <ion-list *ngIf="!clicked" class="bg-transparent">
    <ion-item-sliding *ngFor="let item of events | filter : searchText">
      <ion-card (click)="viewMore(item.id)" class="events">
        <div class="event-img"></div>
        <ion-card-content style="display: flex;flex-direction: column;">
          <ion-card-title>{{item.name}}</ion-card-title>
          <ion-card-subtitle>
            <ion-label>starting: {{item.date_start}}</ion-label>
            <ion-label>{{item.location}}</ion-label>
            <ion-label *ngIf="item.free==0">payant</ion-label>
            <ion-label *ngIf="item.free==1">gratuit</ion-label>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-item-sliding>
  </ion-list> 
</ion-content>