<ion-header style="display: flex;flex-direction: row;" collapse="condense">
  <ion-toolbar class="header">
    <ion-button [routerLink]="['/profile']" *ngIf="!clicked">
      <ion-icon name="person-circle"></ion-icon>
    </ion-button>
    <ion-button (click)="viewMapfct()" *ngIf="!clicked" slot="end">
      <ion-icon name="location"></ion-icon>
    </ion-button>
    <ion-buttons slot="start" *ngIf="clicked">
      <ion-button (click)="return()">
        <ion-icon name="chevron-back-outline"></ion-icon>Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background">
  <!-- <div onload="initMap()"></div> -->
  <div [hidden]="!viewMap">
    <capacitor-google-maps #map id="map"></capacitor-google-maps>
    <!-- <ion-button (click)="draw()" expand="full">Draw</ion-button> -->
  </div>
  <ion-searchbar *ngIf="!clicked && !viewMap" [(ngModel)]="searchText"></ion-searchbar>
  <app-explore-container name="accueil"></app-explore-container>
  <div *ngIf="!clicked && !viewMap">
    <ion-button (click)="selectFilterCategorie()">Filter<ion-icon name="filter-outline"></ion-icon>
    </ion-button>
    <div *ngIf="filter">
      <ion-item>
        <ion-range [pinFormatter]="customFormateur" [pin]="true" min="2" max="150" color="secondary">
          <ion-label slot="end">150</ion-label>
        </ion-range>

        <!-- <ion-select [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Select One">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select> -->

      </ion-item>
    </div>
  </div>
  <ion-list class="eventList" *ngIf="!clicked && !viewMap" class="bg-transparent">
    <ion-item-sliding *ngFor="let item of events | filter : searchText">
      <ion-card (click)="viewMore(item.id)" class="events" style="display: flex;flex-direction: row;">
        <div class="event-img"></div>
        <ion-card-content class="card-text">
          <ion-card-title class="info">{{item.name}}</ion-card-title>
          <ion-card-subtitle>
            <ion-label>{{item.date_start}}</ion-label>
            <ion-label>{{item.location}}</ion-label>
            <ion-label *ngIf="item.free == 0"> {{item.price}} eth</ion-label>
            <ion-label *ngIf="item.free == 1 ">gratuit</ion-label>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-item-sliding>
  </ion-list>

  <ion-content *ngIf="clicked" class="event-details">
    <div class="event-details-img"></div>
    <div class="card-details">
      <div class="card-header">
        <div>{{details[0].name}}</div>
      </div>
      <div>
        <div class="detail.ticket" style="display: flex; flex-direction: column;">
          <ion-label>{{details[0].description}}</ion-label><br>
          <ion-label> {{details[0].date_start}} </ion-label><br>


          <ion-label>Nombre de places restantes: {{details[0].max_participant}}</ion-label><br>
          <ion-label>minimum age: {{details[0].age_min}}</ion-label><br>
          <ion-label *ngIf="details[0].price > 0"> {{details[0].price}} eth</ion-label><br>
          <ion-label *ngIf="details[0].price == 0">gratuit</ion-label><br>

        </div>
        <div>
          <ion-buttons class="ticket-number-select" style="display: flex;justify-content: center;margin-bottom: 5%;">
            <ion-button (click)="remove()">
              <ion-icon name="remove-circle"></ion-icon>
            </ion-button>
            <span>{{ticket_qty}}</span>
            <ion-button (click)="add()">
              <ion-icon name="add-circle"></ion-icon>
            </ion-button>
          </ion-buttons><br>

          <ion-label class="box">Total: {{totalVal}} eth</ion-label><br>

        </div>
      </div>

      <ion-button *ngIf="free" (click)="participateFree(details[0])">Purchase for free</ion-button>
      <ion-button *ngIf="!free" (click)="sendTr(details[0].wallet)">Purchase</ion-button>
    </div>
  </ion-content>
</ion-content>