
::ng-deep .header-collapse-condense ion-toolbar:first-of-type {
    padding-top: 0px; 
}

ion-icon {
    font-size: 180%;
    margin-top: 5px;
    margin-left: 5px;
}

ion-card .event-details .event-img{
    width: max-content;
    height: max-content;
}

.event-details{
    --background: url(..\..\253357-iphone-wallpaper-blue-purple-violet-aqua-turquoise-green.jpg) 0 0/100% 100% no-repeat;
}




.card-details {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;    
    height: 67%;
    text-transform: uppercase;
    display:flex;
    flex-direction: column;

    align-items: center;

    background-color: white;
    
}

.background{
    --background: url(..\..\253357-iphone-wallpaper-blue-purple-violet-aqua-turquoise-green.jpg) 0 0/100% 100% no-repeat;
}



.events{
    height: 229px;
    border-radius: 31.5025px;
    display: flex;
    flex-direction: row;
}

::ng-deep .event-img:last-of-type{
    background: url(https://i.pravatar.cc/150) 0 0/100% 100% no-repeat;
    margin-top: 25px;
    margin-left: 20px;
    width: 170px !important;
    height: 180px;
    border-radius: 31.5px;
}


.event-details-img{
    background: url(https://i.pravatar.cc/150) 0 0/100% 100% no-repeat;
    width: 400px;
    height: 300px;
    margin-bottom: -30px;   

}


::ng-deep .header-ios ion-toolbar:last-of-type{
    --border-width: 0 !important;
}


::ng-deep ion-list:last-of-type{
    background: none !important;
}

::ng-deep ion-card:last-of-type{
    margin-bottom: 0px;
}

ion-label{
    margin-left: 5px;
    white-space: nowrap;
    font-family: Garamond;
}

ion-card-title{
    font-family: Garamond;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.info{
    text-align: center;
    font-weight: 100;
    border-radius: 15px;
    margin-top: -6%;
    z-index: 2;
    position: absolute;
    padding: 5px 10px;
    margin-left: 15px;
    width: 100%;
    background-color: rgb(60, 114, 253);
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    text-align: center;
    font-size: 20px;
    font-family: Garamond;
    color:white;
    text-transform: uppercase;

}
.box{
    text-align: center;
    font-weight: 100;
    border-radius: 5px;
    margin-top: -6%;
    z-index: 2;
    
    padding: 5px 10px;
    width: 300px;
    height: 80px;
    background: linear-gradient(101.18deg, #d158f3 -8.51%, #25cae4 103.04%);
    border-radius: 31.5025px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    text-align: center;
    font-size: 30px;
    font-family: Garamond;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  

}
ion-card-subtitle{
    display:flex;
    flex-direction: column;
    margin-top: 55px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 700;
    font-family: Garamond;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}


ion-card-content{
    width: auto;
    width: 150px;
}

.map-btn{
    margin-left: 240px;
}

#map{
    width:100%;
    height: 50vh;
    margin: 20px;
    padding: 0;
    border: 1px solid black;
}

